.centerInfo {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

body {
    background-color: #e7d2a1;
}

.pluImage {
    transform: scale(0.5);

}

.navi {
    text-align: left;
}