.centerInfo {
    text-align: center;
}

* {
    font-family: 'Arial', Courier, monospace;
}

body {
    background-color: #e7d2a1;
}

.pluImage {
    transform: scale(0.5);
}

.navi {
    text-align: left;
}

.table {
    width: 50%; /* Adjust the width as needed */
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

